@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@layer base {
  body {
    @apply text-white bg-black overflow-hidden select-none antialiased;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-black/40 backdrop-blur-md border border-white/10 shadow-[0_0_15px_rgba(0,0,0,0.5)];
  }
}
