# values-mac.yaml
# Файл Helm-values для середовища MacBook.
# Тут зберігаються налаштування для деплою застосунку на MacBook (dev).

image:
  repository: nginx  # Використовуємо nginx як тестовий сервіс
  tag: latest  # Тег образу
  pullPolicy: IfNotPresent
imagePullSecrets: []
resources:
  limits:
    cpu: 1
    memory: 1Gi
  requests:
    cpu: 0.5
    memory: 512Mi
# Додайте інші параметри за потреби
