{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "frontend.fullname" . }}
  annotations:
    kubernetes.io/ingress.class: "nginx"
{{- if .Values.ingress.annotations }}
    {{- toYaml .Values.ingress.annotations | nindent 4 }}
{{- end }}
spec:
  rules:
  - host: "{{ (index .Values.ingress.hosts 0).host }}"
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: {{ include "frontend.fullname" . }}
            port:
              number: {{ .Values.service.port }}
{{- if .Values.ingress.tls }}
  tls:
  - hosts:
    - "{{ (index .Values.ingress.hosts 0).host }}"
    secretName: {{ .Values.ingress.tls.secretName }}
{{- end }}
{{- end }}
