apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-indexer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Release.Name }}-indexer
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-indexer
    spec:
      containers:
        - name: indexer
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: IfNotPresent
          env:
            - name: OPENSEARCH_HOST
              value: {{ .Values.global.opensearch.host | quote }}
