name: Quality Gate (Test Only)

on:
  pull_request:
    branches: ["main"]
  workflow_call:

jobs:
  backend-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install dependencies
        run: |
          if [ -f apps/backend/requirements.txt ]; then pip install -r apps/backend/requirements.txt; fi
      - name: Lint (Flake8)
        run: |
          pip install flake8
          # flake8 ua-sources --count --select=E9,F63,F7,F82 --show-source --statistics

  frontend-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./apps/frontend
    steps:
      - uses: actions/checkout@v4
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"
          cache-dependency-path: apps/frontend/package.json
      - name: Install
        run: npm install
      - name: Lint
        run: npm run lint
